body {
    background: radial-gradient(black, rgb(12, 9, 111));
    height: 100vh;
    width: 100vw;
}

p {
    color: aliceblue;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: aliceblue;
}

#nav-container {
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-bar {
    width: auto;
    height: auto;
}

#try-me-btn {
    background-color: rgb(102, 32, 168);
}