body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to bottom right, rgb(1, 1, 107), rgb(89, 2, 89));
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
}

p {
    color: aliceblue;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

#nav-container {
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-bar {
    width: auto;
    height: auto;
}

#try-me-btn {
    color: black;
    background-color: lightblue;
    padding: 5px;
    border-radius: 3px;

}

.card {
    padding: .1rem;
    border-radius: 8px;
    width: 20vw;
    height: 25vh;
    background-color: rgba(255, 255, 255, .4);
    position: relative;
}

/* .card::before {
    width: inherit;
    height: inherit;
    content: '';
    position: absolute;
    background: rgb(255, 255, 255, .15);
    z-index: 1;
    border-radius: 8px;
} */

#cards-container {
    display: flex;
    justify-content: space-evenly;
}